<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xcsa.gateway.mapper.OrgMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cn.com.xcsa.gateway.domain.po.Org">
            <id column="id" property="id"/>
            <result column="tenant_id" property="tenantId"/>
            <result column="create_time" property="createTime"/>
            <result column="create_id" property="createId"/>
            <result column="update_time" property="updateTime"/>
            <result column="deleted" property="deleted"/>
            <result column="org_name" property="orgName"/>
            <result column="pid" property="pid"/>
            <result column="pids" property="pids"/>
            <result column="sort_no" property="sortNo"/>
            <result column="third_id" property="thirdId"/>
            <result column="third_type" property="thirdType"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, tenant_id, create_time, create_id, update_time, deleted, org_name, pid, pids, sort_no, third_id, third_type
        </sql>

</mapper>
