<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xcsa.gateway.mapper.TenantSpaceMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cn.com.xcsa.gateway.domain.po.TenantSpace">
            <id column="id" property="id"/>
            <result column="tenant_id" property="tenantId"/>
            <result column="create_time" property="createTime"/>
            <result column="total_space_quota" property="totalSpaceQuota"/>
            <result column="use_space_quota" property="useSpaceQuota"/>
            <result column="deleted" property="deleted"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, tenant_id, create_time, total_space_quota, use_space_quota, deleted
        </sql>

</mapper>
